* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background: #fab0052f !important;
}

.anhlogo {
    width: 80px;
    height: 80px;
}

.dark-mode {
    background: black !important;
    color: white !important;
}

.dark-mode .card,
.dark-mode .list-group-item,
.dark-mode input,
.dark-mode .checkout--footer,
.dark-mode .checkout-btn,
.dark-mode .price {
    background: black !important;
    color: white !important;
}

.dark-mode .about-container {
    background-image: linear-gradient( to right bottom, rgba(31, 29, 29, 0.6), rgba(20, 20, 20, 0.6)), url("../img-head/a2.png");
}

.dark-mode .nav-link {
    color: white !important;
}

.present {
    color: rgb(102, 189, 239)!important;
    font-weight: 600;
}

.dark-mode .present {
    color: rgb(141, 232, 255)!important;
    font-weight: 600;
}

.container {
    text-align: center;
}

.span-hover {
    cursor: pointer;
}


/* ................................................................................... */


/* about section */

.about-container {
    font-family: "raleway";
    margin-top: 105px;
    background-image: linear-gradient( to right bottom, rgba(68, 68, 68, 0.6), rgba(48, 48, 48, 0.6)), url("../img-head/a2.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-title {
    font-size: 4em;
    font-weight: 700;
    color: #149ddd;
}

main {
    margin-top: 10%;
}

.image {
    max-width: 100%;
    height: auto;
}

.card {
    width: 100%;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card img {
    border-radius: 20px;
}

.shadow {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(190, 190, 190), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.card input {
    border-radius: 15px;
    box-shadow: #cff0ff 0px 10px 10px -5px;
}

.row .bi-x {
    font-size: 20px;
}

.css p {
    margin-left: 0;
}

.cart {
    border-radius: 19px 19px 7px 7px;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.css-distance2 .card,
.css-distance2 .list-group-item {
    border: 1px solid gray;
}

.checkout {
    border-radius: 9px 9px 19px 19px;
    padding-bottom: 15px;
}

.checkout .details {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 10px;
    gap: 5px;
}

.checkout .details span {
    font-size: 13px;
    font-weight: 600;
}

.checkout .details span:nth-child(odd) {
    font-size: 11px;
    font-weight: 700;
    color: #707175;
    margin: auto auto auto 0;
}

.checkout .details span:nth-child(even) {
    font-size: 13px;
    font-weight: 600;
    color: #47484b;
    margin: auto 0 auto auto;
}

.checkout .checkout--footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 20px;
    background-color: #efeff3;
}

.price {
    position: relative;
    font-size: 22px;
    color: #2B2B2F;
    font-weight: 900;
}

.checkout .checkout-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 36px;
    box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
    border-radius: 7px;
    border: 3px solid rgb(209, 209, 209);
    outline: none;
    color: #010101;
    font-size: 13px;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.checkout-btn:hover,
.bi-x:hover {
    transform: scale(1.05);
    box-shadow: 8px 9px 7px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
}

.checkout-btn:active {
    transform: scale(0.95) rotateZ(1.7deg);
}


/* ............................................................. */

.css-distance {
    margin-top: 150px;
}

.footer {
    padding-top: 5%;
    background-color: #00121b;
    width: 100%;
    padding-bottom: 0.5%;
    padding-left: 50px;
    padding-right: 50px;
    color: #868e96;
    line-height: 2;
}

.footer-text h4 {
    font-size: 17px;
    font-weight: 700;
}

.footer-text a {
    padding: 1px;
    color: #868e96;
}

.footer-text a:hover {
    color: white;
}

.footer-text .nav-link:hover {
    color: white;
}

.footer-text>* {
    font-size: 15px;
}

.ul-contact {
    list-style: none;
}

.footer-last {
    text-align: center;
    color: white;
}

.footer-last-st,
.footer-last-nd {
    margin-top: 20px;
}

#icon1,
#icon2,
#icon3 {
    padding-left: 20px;
}

iframe {
    border-radius: 25px;
    width: 300px;
    height: 250px;
}

.logo-footer {
    margin-left: 3%;
}

.logo {
    height: 150px;
    width: 150px;
}


/* ....................................................................... */

@media (max-width: 800px) {
    .footer .row {
        flex-direction: column;
        position: relative;
    }
    .logo {
        height: 90px;
        width: 90px;
    }
    main {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 1000px) {
    .col-md-4 .css-distance2 {
        margin-top: 50px;
    }
    .css-distance2 {
        margin-top: 50px;
    }
}