* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    font-family: "Inter", sans-serif;
    color: #212529;
    background: #121212;
    height: 100vh;
    line-height: 1.7;
}


/* CSS cho văn bản căn đều 2 bên */

.container {
    text-align: justify;
    /* Đặt kiểu căn đều */
}


/* CSS cho nội dung trang */

.content {
    margin-left: 10px;
    /* Khoảng cách từ nội dung trang đến thanh sidebar */
    padding: 20px;
    /* Thêm padding để tạo khoảng cách */
    flex-grow: 1;
    overflow-y: auto;
    text-align: left;
    /* Đặt kiểu căn trái để tránh việc căn đều các phần tử nhỏ hơn trong văn bản */
    max-width: 100%;
    /* Đảm bảo văn bản không vượt quá chiều rộng tối đa */
}


/* CSS cho thanh sidebar */

.sidebar {
    width: 60px;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    overflow-y: auto;
    transition: width 0.75s ease;
    border-radius: 7px;
    box-shadow: 6px 6px 12px #707070, -6px -6px 12px #242121;
    float: left;
}


/* Ẩn thanh cuộn dọc của sidebar */


/* Ẩn thanh cuộn dọc của sidebar */

.sidebar::-webkit-scrollbar {
    display: none;
}


/* Ẩn chữ và biểu tượng mặc định */

.sidebar a,
.sidebar .card {
    opacity: 0;
    transition: opacity 0.5s ease;
    /* Thêm hiệu ứng transition */
}


/* Hiển thị chữ và biểu tượng từ từ khi hover vào sidebar */

.sidebar:hover a,
.sidebar:hover .card {
    opacity: 1;
}

.sidebar:hover {
    width: 200px;
}

.nav-list {
    padding: 30px 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.nav-link.nav-link-brand {
    text-decoration: none;
    font-weight: 600;
    margin-bottom: auto;
}


/* Dark Mode styles */

body.dark-theme {
    color: #eee;
    background: #121212;
}


/* Thay đổi màu viền của nút bấm và màu nền của nút bấm khi giao diện tối */

.dark-theme .btn {
    border: 2px solid #fff;
    /* Đường viền màu trắng và đậm */
    background-color: #000;
    /* Màu nền đen */
    color: #fff;
    /* Màu chữ trắng */
}

.card {
    width: 150px;
    left: 25px;
    border-radius: 67px;
    background: #e0e0e0;
    box-shadow: 5px 5px 10px #5a5a5a, -5px -5px 10px #ffffff;
}

.card:hover {
    transform: scale(1.05);
}

.card:active {
    transform: scale(0.95) rotateZ(1.7deg);
}


/* toàn bộ code css này mọi người không sửa nhé, giữ nguyên, css giao diện html của mn thì viết tiếp vào  */