* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background: #fab0052f !important;
}

.anhlogo {
    width: 80px;
    height: 80px;
}

.dark-mode {
    background: black !important;
    color: white !important;
}

.dark-mode .about-container {
    background-image: linear-gradient( to right bottom, rgba(31, 29, 29, 0.6), rgba(20, 20, 20, 0.6)), url("../img-head/a3.png");
}

.dark-mode .nav-link {
    color: white !important;
}

.present {
    color: rgb(102, 189, 239)!important;
    font-weight: 600;
}

.dark-mode .present {
    color: rgb(141, 232, 255)!important;
    font-weight: 600;
}

.dark-mode .card-food-img,
.dark-mode .button-close,
.dark-mode select {
    background: black !important;
    color: white !important;
}

.container {
    text-align: center;
}

.span-hover {
    cursor: pointer;
}

.css-main h2 {
    color: #149ddd;
}


/* ................................................................................... */


/* about section */

.about-container {
    font-family: "raleway";
    margin-top: 105px;
    background-image: linear-gradient( to right bottom, rgba(68, 68, 68, 0.6), rgba(48, 48, 48, 0.6)), url("../img-head/a3.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-title {
    font-size: 4em;
    font-weight: 700;
    color: #149ddd;
}

.card2-footer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.button-container {
    margin-top: 10%;
    display: flex;
}

.css-main {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.css-contain-item .card2 {
    height: 300px;
}

.css-contain-item .button-click {
    margin-top: 20px;
}

.card2-footer2 {
    flex-direction: column;
}

.css-contain-item p {
    font-weight: 700;
}

.css-main .css-contain-item {
    display: flex;
    height: 100%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.css-main .css-item {
    transition: all 0.3s ease-in-out;
    position: relative;
    margin: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: 18px;
}

.card2-footer2-2 {
    display: flex;
    align-items: center;
    padding-top: 10px;
    border-top: 2px solid #bdbdbd;
}

.card2-footer2-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.button-container2 button {
    width: 50%;
    height: 30px;
}

.button-container2 .bi {
    margin-left: 20px;
}

.button-container2 .buy {
    margin-left: 10px;
}


/* ................................................................................... */

.text-food {
    padding-top: 50px;
}

h3::after {
    margin-top: 10px;
    content: "";
    display: block;
    width: 120px;
    height: 4px;
    background: #149ddd;
}


/* ................................................................................... */

.select-food {
    height: 50px;
    width: 130px;
    border-radius: 1em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.select-food:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
}


/* ................................................................................... */

.custom-button {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;
    border: none;
    border-radius: 5px;
}

.custom-button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
}

.custom-button:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}


/* ................................................................................... */

.card2 {
    width: 100%;
    height: 250px;
    padding: .8em;
    border: 2px solid rgb(115, 115, 115);
    border-radius: 15px;
}

.card2-img2 {
    height: 40%;
    width: 100%;
    border-radius: .5rem;
}

.card2-info2 {
    padding-top: 10%;
}

.card2-footer2 {
    display: flex;
    align-items: center;
    padding-top: 10px;
    border-top: 2px solid #bdbdbd;
}

.card2:hover {
    transform: scale(1.05);
    box-shadow: 8px 9px 7px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
}

.card2:active {
    transform: scale(0.95) rotateZ(1.7deg);
}


/* .............................................................. */

.card2 .css-span {
    position: absolute;
    width: 150px;
    height: 150px;
    top: -10px;
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card2 .css-span::before {
    font-size: 15px;
    content: attr(data-content);
    position: absolute;
    width: 150%;
    height: 30px;
    background-image: linear-gradient(45deg, #ca1818 0%, #f16161 51%, #ff7053 100%);
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
}


/* ................................................................................ */

.my-text {
    color: #999999;
    font-size: 13px;
    text-decoration: line-through;
}

.my-h3 {
    font-size: 15px;
    font-weight: 600;
}

.button-inf {
    margin-left: 10%;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;
    border: none;
    border-radius: 5px;
}

.button-inf:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
}

.button-inf:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}

.css-style {
    width: 40px;
    height: 31px;
}


/* ....................................................................... */

.modal {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 100px;
}

.center-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.center-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    position: relative;
}

.bi-x {
    font-size: 30px;
}

.button-close {
    height: 50px;
    width: 50px;
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;
    background-color: whitesmoke;
    border: none;
    border-radius: 50px;
}

.button-close:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 rgb(98, 98, 98);
}

.button-close:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}

.card-food-img {
    margin: 5% auto 15% auto;
    max-width: 320px;
    border-radius: 1rem;
    background-color: #fff;
    padding: 1rem;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.infos {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.image {
    height: 7rem;
    width: 7rem;
    border-radius: 0.5rem;
}

.name {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 500;
}

.my-buy {
    font-size: 13px;
}


/* ............................................................. */

.footer {
    padding-top: 5%;
    background-color: #00121b;
    width: 100%;
    padding-bottom: 0.5%;
    padding-left: 50px;
    padding-right: 50px;
    color: #868e96;
    line-height: 2;
}

.footer-text a:hover {
    color: white;
}

.footer-text h4 {
    font-size: 17px;
    font-weight: 700;
}

.footer-text>* {
    font-size: 15px;
}

.ul-contact {
    list-style: none;
}

.footer-last {
    text-align: center;
    color: white;
}

.footer-last-st,
.footer-last-nd {
    margin-top: 20px;
}

#icon1,
#icon2,
#icon3 {
    padding-left: 20px;
}

iframe {
    border-radius: 25px;
    width: 300px;
    height: 250px;
}

.logo-footer {
    margin-left: 3%;
}

.logo {
    height: 150px;
    width: 150px;
}


/* ....................................................................... */

@media (max-width: 1451px) {
    .css-main .css-contain-item {
        flex: auto;
        height: 100%;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .css-contain-item p {
        font-size: 15px;
        font-weight: 700;
    }
}

@media (max-width: 1451px) {
    .card2-footer2 {
        flex-direction: column;
    }
}

@media (max-width: 1000px) {
    .css-main .css-contain-item {
        flex: auto;
        height: 100%;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 900px) {
    .css-main .css-contain-item {
        flex-direction: column;
        flex: auto;
        height: 100%;
        width: 60%;
        margin-left: 20%;
        margin-right: 5%;
    }
}

@media (max-width: 850px) {
    .css-main .css-contain-item {
        flex-direction: column;
        flex: auto;
        height: 100%;
        width: 70%;
        margin-left: 15%;
        margin-right: 5%;
    }
}

@media (max-width: 800px) {
    .footer .row {
        flex-direction: column;
        position: relative;
    }
    .css-main {
        margin-top: 150px;
    }
    .css-main .css-contain-item {
        flex-direction: column;
        flex: auto;
        height: 100%;
        width: 80%;
        margin-left: 10%;
        margin-right: 5%;
    }
    .logo {
        height: 90px;
        width: 90px;
    }
}

@media (max-width: 1400px) {
    .css-main {
        margin-top: 150px;
    }
}

@media (max-width: 1450px) {
    .css-main {
        margin-top: 150px;
    }
}