* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    font-family: "Inter", sans-serif;
    color: #212529;
    background: #121212;
    height: 100vh;
    line-height: 1.7;
}


/* css thanh tab dọc */


/* CSS cho thanh sidebar */

.sidebar {
    transition: top 0.3s ease;
    /* Thêm hiệu ứng di chuyển mượt mà */
    scrollbar-width: none;
    /* Ẩn thanh cuộn cho Firefox */
    width: 60px;
    height: 100vh;
    background-color: #000000;
    padding: 20px;
    box-sizing: border-box;
    color: #cfe5d6;
    overflow: hidden;
    overflow-y: auto;
    transition: width .75s ease;
    border-radius: 7px;
    background: #1a1818;
    box-shadow: 6px 6px 12px #707070, -6px -6px 12px #242121;
    float: left;
    /* Thêm thuộc tính float để nội dung trang nằm cạnh thanh sidebar */
}


/* CSS cho văn bản căn đều 2 bên */

.container {
    text-align: justify;
    /* Đặt kiểu căn đều */
}


/* CSS cho nội dung trang */

.content {
    margin-left: 10px;
    /* Khoảng cách từ nội dung trang đến thanh sidebar */
    padding: 20px;
    /* Thêm padding để tạo khoảng cách */
    flex-grow: 1;
    overflow-y: auto;
    text-align: left;
    /* Đặt kiểu căn trái để tránh việc căn đều các phần tử nhỏ hơn trong văn bản */
    max-width: 100%;
    /* Đảm bảo văn bản không vượt quá chiều rộng tối đa */
}


/* Ẩn thanh cuộn dọc của sidebar */

.sidebar::-webkit-scrollbar {
    width: 0;
    /* Ẩn thanh cuộn trình duyệt Safari và Chrome */
}


/* Thay đổi màu của thanh cuộn nếu bạn muốn */

.sidebar::-webkit-scrollbar-thumb {
    background-color: transparent;
}


/* Ẩn chữ và biểu tượng mặc định */

.sidebar a,
.sidebar .btn2.bt3 {
    opacity: 0;
    transition: opacity 0.5s ease;
    /* Thêm hiệu ứng transition */
}


/* Hiển thị chữ và biểu tượng từ từ khi hover vào sidebar */

.sidebar:hover a,
.sidebar:hover .btn2.bt3 {
    opacity: 1;
}

.sidebar:hover {
    width: 200px;
}


/* css link bấm vào */

.nav-link {
    text-decoration: none;
    color: #adb0b3;
    font-weight: 600;
}

.nav-list {
    padding: 30px 0;
    /* Điều chỉnh padding top và bottom để căn giữa */
    list-style: none;
    display: flex;
    flex-direction: column;
    /* Hiển thị các liên kết theo chiều dọc */
    align-items: center;
    gap: 20px;
    /* Khoảng cách giữa các liên kết */
}

.nav-link {
    text-decoration: none;
    color: #868e96;
    font-weight: 600;
    line-height: 1.5;
    /* Điều chỉnh line-height để căn giữa và hiển thị đủ thông tin */
}

.nav-link.nav-link-brand {
    margin-bottom: auto;
    /* Để logo căn dưới */
}


/* Dark Mode styles */

body.dark-theme {
    color: #eee;
    background: #121212;
}

body.light-theme {
    color: #121212;
    background: #eee;
}


/* CSS cho nút chuyển màu khi di chuột vào */

.btcolor:hover {
    color: #29f183;
    /* Màu chữ khi di chuột vào */
    border-color: #1fe944;
    /* Màu viền khi di chuột vào */
}

.btn-toggle:hover {
    color: #29f183;
    /* Màu chữ khi di chuột vào */
    border-color: #1fe944;
    /* Màu viền khi di chuột vào */
}

.btn2 {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #fefefe;
    text-transform: uppercase;
    color: #fefefe;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    transition: 0.3s;
}

.btn2::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - -2px);
    background-color: #1c1919;
    transition: 0.3s ease-out;
    transform: scaleY(1);
}

.btn2::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 50px);
    background-color: #1c1919;
    transition: 0.3s ease-out;
    transform: scaleY(1);
}

.btn2:hover::before {
    transform: translateY(-25px);
    height: 0;
}

.btn2:hover::after {
    transform: scaleX(0);
    transition-delay: 0.15s;
}

.btn2:hover {
    border: 2px solid #fefefe;
}

.btn2 span {
    position: relative;
    z-index: 3;
}

.bt3 {
    text-decoration: none;
    border: none;
    border-radius: 100px;
    background-color: #1c1919;
}


/* toàn bộ code css này mọi người không sửa nhé, giữ nguyên, css giao diện html của mn thì viết tiếp vào  */